.container {
  border: 1px solid #ccc;
  margin-bottom: 2rem;
  padding: 1rem;
  min-width: 1000px;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.food-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(3, auto);
  grid-gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 850px;
  margin: 0 auto;
}

.food-item {
  background-color: beige;
  padding: 40px;
  border: 1px solid black;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 400px;
}

.food-name {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

.food-price {
  font-size: 1.25rem;
  margin-left: 1rem;
}

.food-description {
  font-size: 1.25rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
